!!!
%html
  %head
    %title Ann and Jason
    %link{:type => "text/css", :rel => "stylesheet", :media => "all", :href => './stylesheets/reset.css'}
    %link{:type => "text/css", :rel => "stylesheet", :media => "all", :href => './stylesheets/application.css'}
  %body
    #header
    #main
      {{ content }}
    #footer